$back_wite: #ffff;
$back_bezh:#F8F8F8;
$back_pink: #FF3E79;
$textColor_black: #1B1C21;
$text_color_ser: #7E7E82;
$highlight_color: #41F6D7;
$border_color: #B8FFEC;
$border_top_color: #D9FFF5;
$border_form_color: #EAEAEA;

$screen-md: 768px;
$screen-xl: 1120px;

